body
{
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    position:absolute;
    top:0px;
    left:0px;
    overflow:hidden;
    font-family:sans-serif;
}
.viewport
{
  width:100%;
  height:100%;
  padding:0px;
  margin:0px;
  position:absolute;
  top:0px;
  left:0px;
  overflow-x:hidden;
  overflow-y:visible;
}
.bd-main
{
  width:100%;
  min-height:100%;
  display:flex;
  flex-direction:row;
}
.bd-main > *
{
  min-height:100%;
  padding:1.2em;
  padding-bottom:calc(1.2em + 84px);
  box-sizing:border-box;
}
.bd-main-left
{
  width:62.5%;
  flex-grow:5;
}
.bd-main-right
{
  width:37.5%;
  flex-grow:3;
  background:rgb(245,245,245);
}

/* Enviroment Selection */
.bd-envs
{
  width:100%;
  padding:.75em 1.2em;
  display:flex;
  flex-direction: column;
  box-sizing:border-box;
  background:#00D1B2;
  cursor:pointer;
}
.bd-envs-current
{
  width:100%;
  text-align:center;
}
.bd-envs._active .bd-envs-current
{
  padding-top:0px !important;
  padding-bottom:32px;
}
.bd-envs-list
{
  display:none;
}
.bd-envs._active .bd-envs-list
{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.bd-envs-list .item
{
  width:25%;
  padding:16px;
  justify-content:center;
  box-sizing:border-box;
  display:flex;
}
.bd-envs-list .item:hover
{
  background:rgba(0,0,0,0.24);
}

/* Enviroment Sounds */
.bd-envsounds
{
  margin-top:32px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.bd-envsounds .item
{
  width:calc(25% - 16px);
  height:144px;
  padding:16px;
  margin:8px;
  background:rgb(245,245,245);
  justify-content:center;
  align-items:center;
  box-sizing:border-box;
  display:flex;
  cursor:pointer;
}
.bd-envsounds .item:hover
{
  border:4px solid darkgray;
}
.bd-envsounds .nosounds
{
  width:100%;
  margin:48px 0;
  text-align:center;
}

/* Ambiences */
.bd-amb
{
  width:100%;
  padding:.75em 1.2em;
  padding-bottom:0px;
  display:flex;
  flex-direction: column;
  box-sizing:border-box;
}
.bd-amb-title
{
  width:100%;
  text-align:center;
}
.bd-amb-list
{
  margin-top:32px;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
}
.bd-amb-list .item
{
  width:100%;
  padding:16px;
  justify-content:flex-start;
  align-items:center;
  box-sizing:border-box;
  display:flex;
  cursor:pointer;
}
.bd-amb-list .item:hover
{
  border-bottom:4px solid darkgray;
}
.bd-amb-list .nosounds
{
  width:100%;
  margin:48px 0;
  text-align:center;
}


/* Player Controls */
.ft-player
{
  width:100%;
  height:84px;
  position:absolute;
  bottom:0px;
  left:0px;
  background:#00D1B2;
  transition:bottom 0.4s;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.ft-player-status
{
  width:84px;
  height:84px;
  padding:16px;
  box-sizing:border-box;
  cursor:pointer;
}
.ft-player-status img
{
  width:100%;
  height:100%;
  display:none;
}
.ft-player._playing img[src*=pause]
{
  display:block;
}
.ft-player:not(._playing) img[src*=play]
{
  display:block;
}
.ft-player-time
{
  height:84px;
  padding:16px;
  box-sizing:border-box;
  display:flex;
  align-items:center;
}
.ft-player-current
{
  height:84px;
  padding:16px;
  box-sizing:border-box;
  display:flex;
  align-items:center;
}
