body
{
  width:100%;
  height:100%;
  padding:0px;
  margin:0px;
  position:absolute;
  top:0px;
  left:0px;
  overflow:hidden;
}

.viewport
{
  width:100%;
  height:100%;
  padding:0px;
  margin:0px;
  position:absolute;
  top:0px;
  left:0px;
  overflow:hidden;
}

.bd-main
{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:row;
  overflow:hidden;
}
.bd-main > *
{
  min-height:100%;
  padding:1.2em;
  padding-bottom:calc(1.2em + 84px);
  box-sizing:border-box;
  overflow-x:hidden;
  overflow-y:visible;
}
.bd-main-left
{
  width:37.5%;
  flex-grow:3;
  background:rgb(245,245,245);
}
.bd-main-right
{
  width:62.5%;
  flex-grow:5;
  justify-content:center;
}

.bd-list
{
  margin-top:32px;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
}
.bd-list .item
{
  width:100%;
  padding:16px;
  justify-content:flex-start;
  align-items:center;
  box-sizing:border-box;
  display:flex;
  cursor:pointer;
}
.bd-list .item:hover
{
  background:rgba(0,0,0,0.12);
}
.bd-list .divider
{
  width:100%;
  height:2px;
  background:rgb(200,200,200);
}
.bd-list .nosounds
{
  width:100%;
  margin:48px 0;
  text-align:center;
}

.bd-card
{
  width:75%;
}

.tomusic
{
  width:48px;
  height:48px;
  border-radius:48px;
  position:absolute;
  top:48px;
  right:48px;
  background:#00D1B2;
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
